body{
    font-family: Arial, Helvetica, sans-serif;
    margin: clamp(20px, 20px, 20px) 0;
    color: white;
    background-color: #121212;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/13/c8/37/img-20160501-182345124.jpg?w=600&h=500&s=1");
    zoom: 90%;
}
header, footer {
    background-color: #121212;
    color: white;
    border-radius: 5px;
    box-shadow: #121212 1px 1px 1px;
    margin: clamp(20px, 20px, 20px) 0;
    padding: 25px;
    backdrop-filter: blur(20px);
}

h1, h2, h3{
    color: white;
}
h1 {
    text-align: center;
    padding: 25px;
    border: 3px solid saddlebrown;
    border-radius: 5px;
    box-shadow: 0 4px 15px black;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(25px);
    max-width: 2000px;
    margin: 20px auto;
}

h3  {
    text-indent: 25px;
}

nav ol{
    padding: 35px;
    border: 3px solid saddlebrown;
    border-radius: 25px;
    box-shadow: 0 4px 15px black;
    background: black;
    backdrop-filter: blur(25px);
    max-width: 2000px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ol a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 15px black;
    border: salmon 1px solid;
}

section {
    max-width: 1500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    border: 3px solid brown;
    box-shadow: 0 4px 15px black;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(25px);
}

img {
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px black;
    width: 300px;
}

table {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 15px black;
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
}
th{
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
}
td {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
}

form {
    padding: 12px;
    border: 2px solid brown;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}
label, input, textarea {
    display: block;
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
input, textarea {
    background-color: black;
}
button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid brown;
    box-shadow: 0 4px 15px black;
    background-color: rgba(165, 42, 42, 0.39);
}

div button{
    color: white;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.elemento {
    padding: 20px;
    color: white;
    border-radius: 8px;
}

.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.lista li a{
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
